{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
      "ecmaFeatures": {
        "modules": true
      }
  },
  "rules": {
    "semi": "warn",
    "no-console": "off"
  }
}